body {
  margin: 0;
  background-color: #FFF; }

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #000; }

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000; }

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000; }

header {
  position: absolute;
  z-index: 3;
  top: 2em;
  left: 2em; }

.container_logo {
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: #FFF;
  z-index: 3; }

.logo_nasa {
  position: absolute;
  width: 100px;
  height: auto;
  z-index: 3;
  top: 20px;
  right: 20px; }

.main {
  position: relative;
  margin: 0 auto;
  z-index: 2; }

.main_img {
  width: 100%;
  z-index: 2; }

.container_desc {
  position: absolute;
  z-index: 3;
  width: 60%;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: -15%;
  background-color: #FFF;
  padding: 2em 3em;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.text_bg {
  position: absolute;
  top: 20%;
  z-index: 1;
  opacity: 0.1;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #9D9D9C;
  font-size: 25em; }

.credits {
  width: 100%;
  float: right;
  text-align: right;
  opacity: 0.7; }
